<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Matador de monstro</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <div class="panel scores">
            <div class="score">
                <h2>Jogador</h2>
                <div class="lifeBar">
                    <div class="life" :class="{danger : playerLife < 30}" :style="{ width : playerLife + '%'}"></div>
                </div>
                <div>
                    {{playerLife}}%
                </div>
            </div>
            <div class="score">
                <h2>Monstro</h2>
                <div class="lifeBar">
                    <div class="life" :class="{danger : monsterLife < 30}" :style="{ width : monsterLife + '%'}"></div>
                </div>
                <div>
                    {{monsterLife}}%
                </div>
            </div>
        </div>
        <div v-if="hasResult" class="panel result">
            <div v-if="monsterLife == 0" class="win">
                Você ganohou!!! :)
            </div>
            <div v-else class="lose">
                Você perdeu!!! :(
            </div>
        </div>
        <div class="panel botoes">
            <template v-if="running">
                <button class="btn ataque" 
                        @click="ataque(false)">
                        Ataque
                </button>
                <button class="btn ataque_especial" 
                        @click="ataque(true)">
                        Ataque Especial
                </button>
                <button class="btn curar"
                        @click="curaEferimento">
                        Curar
                </button>
                <button class="btn desistir" 
                        @click="running = false">
                        Desistir
                </button>                    
            </template>
            <button v-else class="btn iniciar" @click="starGame">
                    Iniciar Jogo
            </button>
        </div>
        <div v-if="logs.length" class="panel logs">
            <ul>
                <li v-for="log in logs" class="log" :class="log.cls">
                    {{log.text}}
                </li>
            </ul>
        </div>
</body>

</html>

<script src="app.js">
</script>