<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>DOM</title>
</head>

<body>
    <div id="app">
        <input type="text" v-on:input="alterarTitulo">
        <p>
            {{ titulo }}
        </p>
        <p>
            {{ saudacao() }}
        </p>
        <a v-bind:href="link">Google</a>
    </div>

</body>

</html>
<script>
    new Vue({
        el: '#app',
        data: {
            titulo: 'Usando VueJS!',
            link: 'http://google.com.br'
        },
        methods: {
            alterarTitulo(event) {
                this.titulo = event.target.value
            },
            saudacao: function() {
                return 'Boa semana!'
            }
        }
    })
</script>